@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');

:root {
    --primary-color: #005a00;
    --secondary-color: #7ddbdb;
    --border-color: #ddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',
        sans-serif;
}

body {
    position: relative;
    font-size: 18px;
}

h1 {
    font-size: 48px;

}

h2 {
    font-size: 32px;
    margin: 16px;
}

header {
    padding: 0 16px;
    top: 0;
    width: 100vw;
    height: 60px;
    background-color: var(--primary-color);
}

.navbar a {
    text-decoration: none;
    color: white;
    padding-left: 60px
}

.navbar {
    position: relative;
    height: 100%;
}

.menuItem {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.logo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

h2 {
    text-align: center;
}

.content {
    margin: 16px;
}

#introduction {
    text-align: center;
}

.introImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fitnessImage {
    float: left;
    margin-right: 50px;
}

.clear {
    overflow: auto;
}

.clear p {
    padding-right: 16px;
}

p {
    text-align: justify;
}

#fitnessData {
    border-collapse: collapse;
    width: 80vw;
    padding: 0 10vw;
}

#fitnessData th,
#fitnessData td {
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 8px;
}

#fitnessData th {
    padding: 12px 0;
    background-color: var(--secondary-color);
}

form {
    width: 25vw;
    /* background-color: pink; */
    margin: auto;
    padding: 16px;
    border: 1px solid var(--border-color);
    text-align: center;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    border: 1px solid var(--border-color);
    margin: 8px auto;
    border-radius: 4px;
    font-size: 12px;
    padding: 8px;
}

label {
    display: inline-block;
    width: 125px;
    text-align: left;
}

button {
    padding-left: 16px;
    padding-right: 16px;
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin-top: 24px;
    height: 36px;
}


footer {
    bottom: 0;
    padding: 16px;
    text-align: center;
    background-color: var(--secondary-color)
}